<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings />
    <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>N/ZH72kFcRFfGSh+EF2PtvQaO6UyJrgDuMLRzT0U+SNr6nNAramMm9KzUVTGql7XUnf5YLdf7/XIpztCMyGPANcBT9JJOHTIqYirOyEKj5qVKYv9KB9rdHA7G6ZE3xvOHqyGlK5Nrfn499HBftpgL2iILKnjnz5hU5d0AFMGLRSxPPpVDNh852SxSmPXbXGl4atK0Nk9C7mENvI5ApweGA6oVFtDPhZqph+hVG2xFpE1VD6E6HxIsXGdJmsKouH2cuK9PewWaoJGvCTuR2if9yXvksfP2trLUoOxaJ5kUTSkcNcI4hIewbp40w2dvTkyYNMb7G3iVr38x+aQ/dZg6w==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>hry/7TMEvRtJWXi0fiOqrkw5ggMs2cuTfKd94PGDPk4=</CipherValue>
            </CipherData>
        </EncryptedData>
    </appSettings>
</configuration>